In [2]:
from csv_controller import writeCSV
import pandas as pd

In [3]:
writeCSV(2019, 1, 3, '機械学習', 'テスト')

ValueError: If using all scalar values, you must pass an index

In [39]:
df = pd.read_csv('record.csv')

In [40]:
df

      年  月  日        勉強したこと   メモ
0  2020  1  1  ディープラーニングモデル  テスト
1  2020  1  1  ディープラーニングモデル  テスト

In [41]:
year = 2020
month = 1
day = 1
learned = 'ディープラーニングモデル'
memo = 'テスト'

df = pd.read_csv('record.csv', header=0)
new = pd.DataFrame({
    '年':[year],
    '月':[month],
    '日':[day],
    '勉強したこと':[learned],
    'メモ':[memo]
})

In [42]:
df_ = pd.concat([df, new], axis=0)

In [43]:
df_

      年  月  日        勉強したこと   メモ
0  2020  1  1  ディープラーニングモデル  テスト
1  2020  1  1  ディープラーニングモデル  テスト
0  2020  1  1  ディープラーニングモデル  テスト

In [44]:
df_.to_csv('record.csv', index=None)

In [45]:
df_

      年  月  日        勉強したこと   メモ
0  2020  1  1  ディープラーニングモデル  テスト
1  2020  1  1  ディープラーニングモデル  テスト
0  2020  1  1  ディープラーニングモデル  テスト

In [51]:
pd.read_csv('record.csv', header=0)

      年  月  日        勉強したこと   メモ
0  2020  1  1  ディープラーニングモデル  テスト
1  2020  1  1  ディープラーニングモデル  テスト
2  2020  1  1  ディープラーニングモデル  テスト

In [1]:
from datetime import datetime
dt_now = datetime.now()
dt_now

datetime.datetime(2023, 7, 12, 15, 27, 11, 531242)

In [3]:
dt_now.year

2023